@model IEnumerable<Student>
@{
    ViewData["Title"] = "View Students";
}

<div class="text-center">
    <h1 class="display-4">All Students</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Student Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Student Number</th>
                <th scope="col">Enrollment Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(item => student.studentid)</th>
                    <th>@Html.DisplayFor(item => student.studentfname)</th>
                    <th>@Html.DisplayFor(item => student.studentlname)</th>
                    <th>@Html.DisplayFor(item => student.studentnumber)</th>
                    <th>@Convert.ToDateTime(student.enroldate).ToString("ddd, dd MMM yyyy")</th>
                </tr>

            }

        </tbody>
    </table>
</div>
